<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='login15.css') }}" rel="stylesheet">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h4>One-time password has been sent to the email ID. Please check the email for the verification.</h4>
            <form action="/validate" method="post">
                Enter OTP: <input type="text" name="otp">
                <input type="submit" value="Submit">
                </br>
                {{text}}
            </form>
        </div>
    </div>
</body>
</html>
